.cont{
    position: relative;
    top: 90px;
    overflow: hidden;
    display: block;
    /* min-height: calc(100vh - 250px); */
    height: 100%;
    padding: 0px calc(3.5vw+5px);
}
.cont::after{
    content: "";
    background: url("/images/home-background.png") no-repeat center center/cover fixed;
    position: absolute;
    inset: 0px;
    z-index: -1;
    opacity: 1;
}